**/__pycache__
**/Results
**/Simple_2L_VSC_RLC.gf46
#**/Scan_options
**/.vscode
**/dist
**/build
**/ztoolacdc.egg-info
*.out
*.inf
*.infx
*.bat
*.dta
*.f
*.snp
distnotes.txt
setup.py
test.py
ztool.egg-info